# Ignore Composer dependencies
/vendor/
!composer.json
!composer.lock

# Ignore sensitive config files
/config/app.php
!/config/app.default.php

# Ignore CakePHP cache, logs, sessions
/tmp/
!/tmp/cache/models/empty
!/tmp/cache/persistent/empty
!/tmp/cache/views/empty
!/tmp/sessions/empty
!/tmp/tests/empty
/logs/
!/logs/empty

# Ignore CakePHP 2 config files
/app/Config/core.php
/app/Config/database.php
!/app/Config/database.default.php

# Ignore CakePHP 2 tmp files
/app/tmp/
